service: brief-proxy

provider:
  name: tencent
  runtime: Python3.9
  region: ap-guangzhou  # 根据你的需求修改区域
  memorySize: 512
  timeout: 300
  environment:
    UNIFUNS_API_KEY: ${env:UNIFUNS_API_KEY}
    GEMINI_API_KEY: ${env:GEMINI_API_KEY}
    NANO_BANANA_API_KEY: ${env:NANO_BANANA_API_KEY}
    ALLOWED_ORIGINS: ${env:ALLOWED_ORIGINS, '*'}
  apigw:
    protocols:
      - https
    cors:
      origin: '*'
      headers:
        - Content-Type
        - Authorization
      methods:
        - GET
        - POST
        - OPTIONS

functions:
  proxy:
    handler: scf_handler.main_handler
    events:
      - apigw:
          path: /
          method:
            - GET
            - POST
            - OPTIONS

